*.o
*.lo
build/
build32/
config.cache
config.log
config.status
Makefile
*.a
*.la
.libs/
bfd/bfd-in3.h
bfd/bfd.h
bfd/bfd_stdint.h
bfd/config.h
bfd/doc/chew
bfd/libtool
bfd/ofiles
bfd/stamp-lib
bfd/stamp-ofiles
bfd/stmp-bfd-h
bfd/po/SRC-POTFILES
binutils/addr2line
binutils/ar
binutils/arparse.c
binutils/arparse.h
binutils/cxxfilt
binutils/doc/addr2line.1
binutils/doc/c++filt.1
binutils/doc/cxxfilt.man
binutils/doc/objdump.1
binutils/doc/strings.1
binutils/doc/windmc.1
binutils/libtool
binutils/nm-new
binutils/objcopy
binutils/objdump
binutils/ranlib
binutils/readelf
binutils/size
binutils/strings
binutils/strip-new
gas/as-new
gas/doc/as.1
gas/itbl-lex.c
gas/libtool
intl/config.intl
ld/eelf32ebmip.c
ld/ld-new
ld/ld.1
ld/ldscripts/
ld/libtool
ld/tmpdir/
libiberty/config.h
opcodes/libtool
opcodes/stamp-lib

